/.idea/workspace.xml
/target/*
/target/surefire-reports/*
/target/maven-status/maven-compiler-plugin/compile/default-compile/*
/target/maven-status/maven-compiler-plugin/testCompile/default-compile/*
/target/process-test-coverage/de.fhaachen.gpm.practicum.InMemoryH2Test/*